MudBlazorApp/MudBlazorApp/obj
MudBlazorApp/MudBlazorApp/bin
MudBlazorApp/MudBlazorApp.Client/obj 
MudBlazorApp/MudBlazorApp.Client/bin
MudBlazorApp/.vs
MudBlazorApp/MudBlazorApp/MudBlazorApp.csproj.user
react-spcd/backend/.vs/
react-spcd/backend/BackendApi/bin
react-spcd/backend/BackendApi/obj
react-spcd/backend/BackendApi/product_documents.db-shm
react-spcd/backend/BackendApi/product_documents.db-wal
